html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

html, body {
    height: 100%;
}

.hero {
    /* The image used */
    background-image: url("heroimage.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.hero h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    position: relative;
    top: 15%;
    left: 8%;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.scroll span:nth-child(2) {
    animation-delay: -0.2s;
}

.scroll span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opactiy: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.scroll-text, .scroll-text:hover {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}

.card-link, .card-link:hover, .card-link:active, .card-link:visited {
    text-decoration: none;
    color: black;
}