{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block active_left %}
    <li class="nav-item">
        <a class="nav-link" href="/about#navbar">About</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add">Add Cash</a>
            <a class="dropdown-item" href="/buy">Buy</a>
            <a class="dropdown-item" href="/sell">Sell</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/">Portfolio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
    </li>
{% endblock %}

{% block main %}
    <h1>{{ username }}'s Portfolio</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>${{ stock["price"] }}</td>
                    <td>${{ stock["total"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>${{ total }}</strong></td>
            </tr>
        </tbody>
    </table>
{% endblock %}