<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="UTF-8">
        <meta name="author" content="Chanoe Andrew Park">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <!-- custom CSS -->
        <link rel="stylesheet" type="text/css" href="static/styles.css">

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="static/validate.js"></script>

        <title>Trading Wheels: {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block hero %}{% endblock %}
        <div class="page-container">
            <nav id="navbar" class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/about">Trading Wheels</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% block about %}{% endblock %}
                        {% if session.user_id %}
                            {% block active_left %}{% endblock %}
                        {% endif %}
                    </ul>
                    {% if session.user_id %}
                        <form class="form-inline my-2 my-lg-0" action="/quote" method="post">
                            <input class="form-control mr-sm-2" name="symbol" type="text" placeholder="Search Symbol" aria-label="Search" oninput="validText(this)">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="submit" disabled>Search</button>
                        </form>
                    {% else %}
                        <ul class="navbar-nav ml-auto">
                            {% block active_right %}{% endblock %}
                        </ul>
                    {% endif %}
                </div>
            </nav>
            <div class="content-wrap">
                <main class="container p-5">
                    {% block main %}{% endblock %}
                </main>
            </div>
        </div>

        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
        </footer>
</html>